<section class="page-header">
  <img src="{{ site.baseurl }}/assets/mila_logo_en.svg" style="width:25%;"> <br />
  <img src="{{ site.baseurl }}/assets/udem_logo.png" style="width:15%;">
  <img src="{{ site.baseurl }}/assets/rrc_logo.png" style="width:15%;">
  <img src="{{ site.baseurl }}/assets/iiit_logo.png" style="width:15%;">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <h3 class="project-affiliation">{{ site.affiliation }}</h3>
  <a href="{{ site.paperlink }}" class="btn">Paper</a>
  <a href="{{ site.repo }}" class="btn">View on GitHub</a>
  <a href="{{ site.repo }}/zipball/master" class="btn">Download .zip</a>
  <a href="{{ site.repo }}/tarball/master" class="btn">Download .tar.gz</a>
</section>
